/*--------------------------------------------------------------
                Main
--------------------------------------------------------------*/

main {
    width: 98%;
    margin: auto !important;
    border: solid #000 .5px;
    border-radius: 10px;
}
/*--------------------------------------------------------------
                Section
--------------------------------------------------------------*/

section:first-child {
    background-color: rgb(240, 240, 240);
    border-radius: 10px 0 0 10px;
}

section:first-child .card {
    margin: 15px 0;
    padding: 30px 10px;
}

section:first-child .card h3 {
    margin: 0;
    padding: 10px;
}

section:first-child .card hr {
    margin: 0.5rem 1rem;
}

section:last-child {
    background-color: rgb(225, 225, 225);
    border-radius: 0 10px 10px 0;
}

.list-card {
    margin: 15px 0 0;
}

.list-card .col-6:first-child {
    text-align: center;
}

.list-card .col-6:first-child i {
    font-size: 50px;
    color: #011872;
}

.list-card .col-6:last-child li a {
    color: #000;
}

.list-card .col-6:last-child li a:hover {
    color: -webkit-link;
}