/*--------------------------------------------------------------
                        General
--------------------------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    list-style: none;
    --bs-gutter-x: 0rem !important;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

body,
header,
main,
footer {
    position: relative;
}

section {
    margin: 1.5rem 0;
}

.title-section {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.title-section span {
    position: absolute;
    top: 46px;
    color: rgba(14, 29, 52, 0.06);
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
    line-height: 0;
}

.title-section h4 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #001973;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.fade-up {
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s, transform 2s;
}

.fade-up.aparecer {
    opacity: 1;
    transform: translateY(0);
}

.btn-scroll-top {
    display: none;
    position: fixed;
    z-index: 100;
    right: 20px;
    padding: 8px;
    background: #001973c0;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: background .3s ease-in-out !important;
}

#btn-scroll-top-scroll {
    bottom: 20px;
}

#btn-scroll-top-scroll:hover {
    background: #000000;
}

#btn-scroll-top-whatsapp {
    bottom: 70px;
}

#btn-scroll-top-whatsapp:hover {
    background: #25D366;
}

#btn-scroll-top-facebook {
    bottom: 120px;
}

#btn-scroll-top-facebook:hover {
    background: #1877F2;
}

#btn-scroll-top-instagram {
    bottom: 170px;
}

#btn-scroll-top-instagram:hover {
    background: linear-gradient(135deg, #833AB4, #C13584, #FD1D1D);
}

.btn-scroll-top.mostrar,
.btn-scroll-top.aparecer {
    display: block;
}

/*--------------------------------------------------------------
                        Header
--------------------------------------------------------------*/

header {
    padding: 10px 0;
    background: #1e5b7a;
}

header li {
    position: relative;
}

header a {
    border: 1px solid transparent;
    padding: 5px;
    position: relative;
    width: 7.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 12px;
    border-radius: 0.4em;
    display: flex;
}

header a p {
    position: absolute;
    top: 0.2em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #fff;
}

header a i {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff;
    color: #fff;
}

header a:hover p {
    left: 0.6em;
    color: #fff
}

header a:hover i {
    opacity: 1;
}

header a.header-link-instagram:hover {
    background: linear-gradient(135deg, #833AB4, #C13584, #FD1D1D);
    border-color: #C13584;
}

header a.header-link-facebook:hover {
    background-color: #1877F2;
    border-color: #1877F2;
}

header a.header-link-whatsapp:hover {
    background-color: #25D366;
    border-color: #25D366;
}

/*--------------------------------------------------------------
                Nav
--------------------------------------------------------------*/

nav {
    top: 0;
    z-index: 100;
    padding: 16px 0 !important;
    position: sticky !important;
    background-color: #001973c0;
    transition: background-color 0.3s ease;
}

.nav-scrolled {
    background-color: #001973;
}

nav .container-fluid>a {
    font-weight: 900;
}

nav .container-fluid>a img {
    height: 30px;
    /*border-radius: 50%;*/
    margin-left: 10px;
}

nav a {
    color: #fff !important;
}

/*--------------------------------------------------------------
                Main
--------------------------------------------------------------*/


/*--------------------------------------------------------------
                Hero Section
--------------------------------------------------------------*/

#hero {
    top: -72px;
    height: 80vh;
    margin-top: 0;
    display: flex;
    position: relative;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/hero-bg.png);
}

@media (max-width: 991px) {
    #hero {
        top: -72px;
    }
}

@media (max-width: 767px) {
    #hero {
        padding: 70px 0;
    }
}

.hero-title {
    padding: 0 40px;
}

.hero-title h1,
.hero-title h2 {
    color: #fff;
}

.hero-title h2 span {
    color: #1D5C7A;
    font-size: 50px;
}

.hero-image .circle {
    width: 450px;
    height: 450px;
    margin: auto;
    border-radius: 50%;
    background-color: #ffffffcc;
}

@media (max-width: 1100px) {
    .hero-image .circle {
        width: 350px;
        height: 350px;
        margin: auto;
        border-radius: 50%;
        background-color: #ffffffcc;
    }
}

@media (max-width: 900px) {
    .hero-image .circle {
        width: 250px;
        height: 250px;
        margin: auto;
        border-radius: 50%;
        background-color: #ffffffcc;
    }
}

.hero-image .circle img {
    width: calc(100% + 50px);
    transform: translateX(-40px);
}

.cards-hero {
    bottom: 0;
    width: 100%;
    position: absolute;
    justify-content: space-around;
    transform: translateY(-100px);
}

.cards-hero input.fade-up {
    padding: 10px;
}

/*--------------------------------------------------------------
                Marks Section
--------------------------------------------------------------*/

#marks-list {
    padding: 3rem 0;
}

#marks-list .row>div {
    margin: 2rem 0;
}

#marks-list .row .card {
    width: 300px;
    margin: auto;
    height: 180px;
    box-shadow: 0;
    filter: grayscale(30%);
    position: relative;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: box-shadow .1s ease-in-out, filter .5s ease-in-out;
}

@media (max-width: 991px) {
    #marks-list .row .card {
        width: 350px;
    }
}

@media (max-width: 767px) {
    #marks-list .row .card {
        width: 400px;
        height: 250px;
    }
}

#marks-list .row .card:hover {
    filter: grayscale(0%);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .5);
}

.card-samsung {
    background-image: url(../img/samsung.jpg);
}

.card-apple {
    background-image: url(../img/apple.jpg);
}

.card-huawei {
    background-image: url(../img/huawei.jpg);
}

.card-dell {
    background-image: url(../img/dell.jpg);
}

.card-hp {
    background-image: url(../img/hp.jpg);
}

.card-gear {
    background-image: url(../img/gear.jpg);
}

.card-acer {
    background-image: url(../img/acer.jpg);
}

.card-motorola {
    background-image: url(../img/motorola.jpg);
}

.card-xiaomi {
    background-image: url(../img/xiaomi.jpg);
}

.card-lenovo {
    background-image: url(../img/lenovo.jpg);
}

#marks-list .row .card h4 {
    left: 0;
    margin: 0;
    bottom: -1px;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    background-color: #CECDD2;
    border-radius: 0 13px 0 13px;
}

/*--------------------------------------------------------------
                Splide Section
--------------------------------------------------------------*/

#splide-section {
    padding-bottom: 3rem;
}

#splide-section .card {
    margin: 10px 15px;
}

#splide-section .card .card-header {
    padding: 0;
}

#splide-section .card .card-header img {
    width: 100%;
}

#splide-section .splide__pagination {
    bottom: -1.6em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1;
}

.splide__pagination__page {
    background: #fff;
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 3px;
    opacity: .7;
    padding: 0;
    position: relative;
    transition: transform .2s linear;
    width: 8px;
}

.splide__pagination__page.is-active {
    background: #fff;
    transform: scale(1.5);
    border: solid 2px #001973;
    z-index: 1;
}

/*--------------------------------------------------------------
                Category List Section
--------------------------------------------------------------*/

#products-flters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border: solid 1px #153E52;
    border-radius: 50px;
    padding: 2px 15px;
}

.filter {
    top: 100px;
    padding: 10px;
    position: sticky;
    border-radius: 15px;
    background-color: #fff;
    border: solid 1px #1d5672;
    box-shadow: inset 5px 5px 5px #c4c4c4, inset -5px -5px 5px #ffffff;
}

.filter .form-select-sm {
    padding: 8px 5px;
    margin-bottom: 1rem;
    box-shadow: inset 5px 5px 5px #c4c4c4, inset -5px -5px 5px #ffffff;
}

.filter form button {
    background-color: #1e5b7a;
    color: #fff;
}

#products-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #727679;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#products-flters li:hover,
#products-flters li.filter-active {
    color: #1d5672;
}

#products-flters li:last-child {
    margin-right: 0;
}

.product-wrap {
    width: 250px;
    margin: 15px auto;
    border-radius: 5px;
    border: solid #153E52 1px;
    box-shadow: 0;
    transition: box-shadow .2s ease-in-out;
}

.product-wrap:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, .5);
}

.product-container .card-header {
    position: relative;
}

.product-container .card-header img {
    width: 100%;
    position: relative;
}

.product-container .card-header h5 {
    margin: 0;
    color: #fff;
    padding: 4px 8px;
    display: inline-block;
    background-color: #153E52;
    border-bottom-right-radius: 5px;
}

.product-container .card-body {
    margin-top: 10px;
    text-align: start;
    padding-left: 15px;
}

.product-title {
    position: relative;
}

.product-title small {
    top: 0;
    right: 0;
    position: absolute;
    padding-right: 5px;
}

.product-links {
    margin-bottom: 16px;
}

.product-links a {
    background: #1e5b7a;
    color: #fff;
    border: solid #fff 1px;
}

.product-links a:hover {
    background: #fff;
    color: #1e5b7a;
    border: solid #1e5b7a 1px;
}

.product-links {
    text-align: center;
}

/*--------------------------------------------------------------
                Exemplary Section
--------------------------------------------------------------*/

#exemplary-section {
    padding: 3rem 0;
}

#exemplary-section .row .col {
    display: flex;
    justify-content: center;
}

#exemplary-section .card {
    width: 300px;
    margin: 20px auto;
    overflow: hidden;
    border: none;
}

#exemplary-section .card .card-header {
    background-color: #eee;
    border: none;
}

#exemplary-section .card .card-header .circle {
    width: 250px;
    height: 250px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#exemplary-section .card .card-header {
    width: 100%;
} 

#exemplary-section .card img {
    width: 100%;
    max-width: 250px;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

#exemplary-section .card:hover img {
    transform: scale(1.2);
}

#exemplary-section .card .card-body h5 {
    margin: 0 0 20px;
    padding: 0;
    color: #001973;
    text-align: center;
}

#exemplary-section .card .card-body ul li {
    list-style: disc;
    color: #4f4f4f;
    transition: color 1s ease;
}

#exemplary-section .card:hover .card-body ul li {
    list-style: disc;
    color: #000000;
}

/*--------------------------------------------------------------
                Services Section
--------------------------------------------------------------*/

#services-section {
    padding: 3rem 0;
}

#services-section .row .col {
    display: flex;
    justify-content: center;
}

#services-section .card {
    width: 300px;
    height: 350px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    border: solid #000 1px;
    transition: height .8s ease-in-out, border-radius .5s ease-in-out;
}

#services-section .card .card-header {
    padding: 0;
    border: 0;
    background-color: transparent;
}

#services-section .card .card-header,
#services-section .card img {
    width: 100%;
}

#services-section .card img {
    border-radius: 10px;
    filter: grayscale(50%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-radius .5s ease-in-out, filter 1.2s ease-in-out, transform ease-in-out 1s;
}

#services-section .card:hover img {
    border-radius: 15px;
    filter: grayscale(0%);
    transform: scale(.9);
}

#services-section .card .card-body {
    padding: 0 var(--bs-card-spacer-x);
}

#services-section .card .card-body h5 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
    text-shadow: none;
    transform: translateY(-100px);
    transition: transform 1s ease-in-out, color .8s ease-in-out, padding 1s ease-in-out, text-shadow 2s ease;
}

#services-section .card:hover .card-body h5 {
    padding: 10px 0;
    text-align: center;
    transform: translateY(0px);
    color: #001973;
    text-shadow: 0 1px 0 hsl(174, 5%, 80%),
        0 2px 0 hsl(174, 5%, 75%),
        0 3px 0 hsl(174, 5%, 70%),
        0 4px 0 hsl(174, 5%, 66%),
        0 5px 0 hsl(174, 5%, 64%),
        0 3px 0 hsl(174, 5%, 62%),
        0 4px 0 hsl(174, 5%, 61%),
        0 5px 0 hsl(174, 5%, 60%),
        0 0 5px rgba(0, 0, 0, .05),
        0 1px 3px rgba(0, 0, 0, .2),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 8px rgba(0, 0, 0, .2),
        0 8px 10px rgba(0, 0, 0, .2),
        0 10px 15px rgba(0, 0, 0, .3);
}

#services-section .card .card-body p {
    text-align: center;
    transform: translateY(10px);
    transition: opacity 2s ease-in-out;
}

#services-section .card:not(:hover) .card-body p {
    transition: opacity .1s ease-in-out;
    /* Tiempo de transición al quitar el hover */
}

/*--------------------------------------------------------------
                Footer
--------------------------------------------------------------*/

footer {
    background-color: #001973;
    padding: 30px 10px;
}

footer ul a {
    color: #fff !important;
}

footer .row .col-1,
footer .row .col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .trademarks,
footer .credits,
footer h4,
footer a,
footer p {
    color: #fff;
}

footer .footer-logo img {
    width: 200px;
}

.logo-footer,
.map-footer {
    text-align: center;
}

.image-footer {
    max-height: 80px;
}